/* @font-face {
    font-family: "Montserrat";
    src: url("https://fonts.google.com/specimen/Montserrat");
    font-weight: 500 700;
} */

@font-face {
    font-family: "Fraunces";
    src: url("./fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
    font-weight: 700;
}

:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  --base-font-size: clamp(1rem, 0.8rem + 1vw, 1.32rem);
}

.product-wraper {
    background-color: var(--cream);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-card-main {
    display: flex;
    border-radius: 8px;
    font-family: Montserrat;
    color: var(--grey);
    font-size: var(--base-font-size);
    background-color: var(--white);
    flex-flow: column nowrap;
    min-width: 300px;
    overflow: hidden;
}

.product-card-main .main-img {
    max-width: 100%;
    height: auto;
}

.text-area {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    gap: 1rem;
}

.text-area h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: calc(var(--base-font-size) * 1.1);
    letter-spacing: 3px;
}

.text-area h2 {
    font-family: "Fraunces";
    color: var(--black);
    font-size: calc(var(--base-font-size) * 2);
    font-weight: 700;
}
.prices {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.real-price {
text-decoration: line-through;
}

.discount-price {
  font-family: "Fraunces";
  color: var(--green-500);
  font-size: calc(var(--base-font-size) * 1.5);
  font-size: 200%;
  font-weight: bold;
}

.text-area button {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--green-500);
  border: none;
  border-radius: 8px;
  padding: var(--base-font-size);
  color: var(--white);
  font-weight: bold;
}
.attribution { 
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.attribution a { color: hsl(228, 45%, 44%); }


@media (min-width: 500px) {
  .product-card-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 5rem auto;
    max-width: 700px;
    border-radius: 8px;
  }

  .product-card-main .main-img {
    flex-basis: 50%;
    height: 100%;
  }
  .text-area {
    flex-basis: 50%;
    gap: var(--base-font-size);
    margin: auto 0;
  }
}
