@font-face {
    font-family: "Kumbh Sans";
    src: url('./Kumbh_Sans/KumbhSans-VariableFont_YOPQ,wght.ttf');
    font-weight: 400 700;
}

:root {
    --orange-500: hsl(26, 100%, 55%);
    --orange-300: hsl(25, 100%, 94%);
    --blue-700: hsl(220, 13%, 13%);
    --blue-500: hsl(219, 9%, 45%);
    --blue-300: hsl(223, 64%, 98%);
    --neutral-0: hsl(0, 0%, 100%);
    --neutral-800: hsl(0, 0%, 0%);

    --base-font-size: 1rem;
}



/* Navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    border-bottom: 1px solid var(--blue-300);
    font-family: "Kumbh Sans";
}

header .left {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
}

header .right {
    display: flex;
    align-items: center;
    gap: 1rem;

    img:last-child {
        width: 30px;
        height: 30px;
    }
}

.hamburger {
    display: none;
}

nav {
    .close-nav {
            display: none;
            /* margin-bottom: 2rem; */
    }


    ul {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        gap: 1.5rem;
    }

    

    @media (width < 760px) {
        
        background-color: var(--neutral-0);
        position: absolute;
        top: 0;
        left: -70%;
        width: 60%;
        height: 100vh;
        padding: 1.5rem;
        font-weight: bold;
        font-size: 120%;

        .close-nav {
            display: block;
            margin-bottom: 2rem;
        }

        ul {
            flex-flow: column nowrap;
        }

    }


}

@media  (width < 760px) {
    .hamburger {
            display: block;
        }
}

.product-details {
    --flow-space: .5em;
    padding: 1rem;
    font-family: "Kumbh Sans";

    h2 {
        text-transform: uppercase;
        font-size: medium;
        letter-spacing: 2px;
    }
}

.buttons {
    display: grid;
    grid-template-columns: var(var(--grid-columns), 1);
    gap: 1rem;

   --button-padding: 1rem;

    div {
        text-align: center;
    }
}

.buttons > * {
    border: none;
    padding: var(--button-padding);
    background-color: var(--blue-300);
    border-radius: 8px;


    
    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}


.buy {
    background-color: var(--orange-500);
    cursor: pointer;
}


/** Product Images */
.main-image {
    max-width: 100%;
}

.main-img {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}
.main-image {
    grid-column: 1/4;
    grid-row: 1/2;
}

.image-nav {
    background-color: var(--neutral-0);
    padding: 12px;
    border-radius: 50%;
}

.main-img .prev {
    grid-column: 1/2;
    grid-row: 1/2;
}

.main-img .next {
    grid-column: 3/4;
    grid-row: 1/2;
}


/** 
 Product details
*/

.product-details {
    color: var(--blue-500);
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.product-name {
    font-size: 200%;
    color: var(--neutral-800);
}

.description {
    color: var(--blue-500)
}

.prices {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .discount {
        display: flex;
        gap: 1.5rem;
        font-weight: bold;
    }

    .discount-percent {
        color: var(--neutral-0);
        background-color: var(--neutral-800);
        border-radius: 8px;
        margin-block: auto;
        padding: 6px;
    }

    .price {
        font-size: 200%;
        font-weight: bold;
        color: var(--neutral-800);
    }

    .real-price {
        text-align: right;
    }
}

.quantity {
    display: grid;
    grid-template-columns: 30px auto 30px;
}